

  body {
    font-family:'Montserrat', sans-serif;
    background: white;
    margin: 0px;
  }

  header {
    background-color: #111;
  }

  .navibar{
    background-color: grey;
  }

  .toolbar ul {
    margin: 0px;
    padding: 15px;
  }

  img {
    max-width: 100%;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

.navli li a{
   display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  h1 {
    color: #bdbdbd;
    font-weight: 300;
  }

  .toolbar {
    list-style-type: none;
    
    
    padding: 0;
    overflow: hidden;
    
  }

  .floatright{
    float: right;
  }
  
  li {
    float: left;
/*    margin-left: 200px;
*/
  }

  .defaultbutton {
    color: white;
    background: orangered;
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 4px;
    border: 2px solid orangered;
    display: inline-block;
    text-decoration: none ;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  
 
 
  .footer{
    min-height: 100px;
    background-color: #111;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .txt{
    text-align: center;
    color: #bdbdbd;
    font-size: small;

  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media (max-width: 770px) {
    .toolbar ul {
      text-align: center;
    }

    .toolbar ul li {
      float: none;
      display: inline-block;
    }

    .toolbar ul .floatright {
      float: none;
    }

    .toolbar ul .sitelogo{
      width: 100%;
    }

    .toolbar li a {
      padding: 14px 5px;
    }

    .toolbar ul {
      padding: 15px 5px;
    }
  }